.card-title {
    color: black !important;
}

.reviewButton {
    background-color:#212121;
    color: #b29e33;
}

.reviewButton:hover {
    background-color:#535353;
    color: #b29e33;
}

#search-result {
    width:50%;
    margin: auto;
    margin-top:4%;
    box-shadow: none !important;
}

.avgrating {
    margin-bottom: 15px;
}