/* .makeStyles-card-168:hover {
  border: 1px solid !important;
  box-shadow: 5px 10px 8px 10px grey !important;
  } */

.makeStyles-card-83 {
  margin-top:3% !important;
}

.MuiIconButton-root{
  color:green;
  background:transparent !important;
}

p {
  color:black !important;
}

#fav:hover {
  color:white !important;
}

#delete-btn:hover {
  color:red !important;
}

#edit-btn:hover {
  color:darkblue !important;
}

#list-card{
  background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(144,144,144,1) 100%) !important;
  /* background-color: rgb(238,238,238) !important; */
  margin-bottom:4%;
}

.makeStyles-card-200 {
  width: 19% !important;
}

.modal {
  height: 33% !important;
  width: 50% !important;
}

.makeStyles-card-101 {
  width: 27% !important;
  max-width: 27% !important;
}

.makeStyles-media-102 {
  width: 89% !important;
}

.MuiCardHeader-action {
  margin-top: -52px !important;
}

.MuiCardHeader-title {
  font-size:1rem !important;
}

.MuiTypography-paragraph {
  font-size:1rem !important;
}

.makeStyles-media-201 {
  margin-left:1% !important;
}