.cardSection
{
	margin-top: 6%;
	margin-bottom: 12%;
	width: 100%;
}

.cardSectionleft
{
	margin-top: 12%;
	margin-bottom: 15%;
}



@media only screen and (max-width: 600px) {
  	.cardSection
{
	margin-top: 4%;
	margin-bottom: -20%;

}

.cardSectionleft
{
	margin-top: -30%;
	margin-bottom: -30%;
}

}





.ant-card-bordered
{
	border: none !important;
}




.ant-pagination
{
	width: 0 !important;
	opacity: 0;
}

.ant-card-body
{
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}




.title
{
	font-size: 4vw;
	z-index: 100;
	margin: 0;
	color: black;
	font-family: 'Saira Stencil One', cursive;
	text-align: left !important;
	padding-left: 18%;

}

.titleSection
{
	width: 100%;
	text-align: left;
}

.ratingright
{
	font-size: 3vw;
	margin-bottom: 0;
	z-index: 100;
}

.out
{
	z-index: 100;
	font-weight: 2vw !important;
	font-size: 1vw;
	text-align: center;
}

.five
{
	z-index: 100;
	font-weight: 2vw !important;
	font-size: 1vw;
	text-align: center;
}


.ratingleft
{
	font-size: 3vw;
	margin-bottom: 0;
	z-index: 100;
}

.outleft
{

	z-index: 100;
	font-weight: 2vw !important;
	font-size: 1vw;
	text-align: center;

}

.fiveleft
{
	z-index: 100;
	font-weight: 2vw !important;
	font-size: 1vw;
	text-align: center;
}

#rightDemo
{
	margin-top: 2%;

}

#rightbg
{
	display: flex;
	justify-content: flex-end;
}


@media only screen and (max-width: 600px) {
  	#right
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -27%;
		left: 40%;
		float: left;
	}
}

@media only screen and (min-width: 600px) {
  	#right
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -42%;
		left: 40%;
		float: left;
	}
}

@media only screen and (min-width: 768px) {
  	#right
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -40%;
		left: 40%;
		float: left;
	}
}

@media only screen and (min-width: 992px) {
  	#right
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -60%;
		left: 40%;
		float: left;
	}
}

@media only screen and (min-width: 1200px) {
  	#right
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -80%;
		left: 40%;
		float: left;
	}
}



/*
#front
{
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 400px solid transparent;
	border-top: 450px solid red;
	position: absolute;
	z-index: 90;
	width: 100%;

}*/



#front {
    width: 0;
    height: 0;
    padding-bottom: 40%;
    padding-left: 40%;
    overflow: hidden;
    border-color: white;



}


#front:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid white;
    z-index: 52;
 
}



#rightContainer
{
	position: relative;
	height: 400px;
	width: 83.66%;
	background-image: url("https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
	background-size: 90%;
	background-position: top right;
	background-repeat: repeat-x;
	border-top: 30px solid white;
	border-left: 30px solid white;
}
#back
{
	width: 5%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 20%;
    z-index: 80;
    float: left;
    position: relative;
    bottom: 0%;
    top: -44%;
    left: 38%;
}

#back:after
{
	content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-175px;   
    border-top: 175px solid transparent;
    border-right: 175px solid white;
    z-index: 80;
    float: left;
}

#backwrap
{
	position: relative;
	bottom: 0%;
	margin-bottom: 100%;
	margin-top: -3%;
	right: 0%;
	left: 32%;
	float: left;
}




#leftDemo
{
	margin-top: 2%;

}

#leftbg
{
	display: flex;
	justify-content: flex-start;
}


#left
{
	margin-top: 25% !important;
	margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  	#left
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -12%;
		left: 10%;
		float: left;
	}
}

@media only screen and (min-width: 600px) {
  	#left
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -20%;
		left: 10%;
		float: left;
	}
}

@media only screen and (min-width: 768px) {
  	#left
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -27%;
		left: 10%;
		float: left;
	}
}

@media only screen and (min-width: 992px) {
  	#left
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -42%;
		left: 10%;
		float: left;
	}
}

@media only screen and (min-width: 1200px) {
  	#left
	{
		clear: both;
		width: 50%;
		position: relative;
		top: -65%;
		left: 10%;
		float: left;
		bottom: -5%;
	}
}






#leftContainer
{

	position: relative;;
	height: 400px;
	width: 86.66%;
	background-image: url("https://images.unsplash.com/photo-1466803000100-40016de08ade?ixlib=rb-1.2.1&auto=format&fit=crop&w=2019&q=80");
	background-size: 100%;
	background-position: top right;
	background-repeat: repeat-x;

	/*position: relative;
	height: 400px;
	width: 86.66%;
	background-image: url("https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
	background-size: 90%;
	background-position: top right;
	background-repeat: repeat-x;*/

}	

#front2 {
    width: 0;
    height: 0;
    padding-bottom: 15%;
    padding-left: 15%;
    overflow: hidden;
    border-color: white;

}


#front2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -175px;
    border-bottom: 175px solid transparent;
    border-left: 175px solid white;
    z-index: 52;
    left: 0;
 
}


/*#front2
{
	width: 0;
	height: 0;
	border-right: 135px solid transparent;
	border-left: 0px solid transparent;
	border-top: 155px solid white;
	position: absolute;
}
*/

#back2
{
	width: 0;
	height: 0;
	border-right: 0px solid transparent;
	border-left: 400px solid transparent;
	border-bottom: 450px solid white;
	position: absolute;
	bottom: 0%;
	margin-left: 68%;
}
/*
#back2
{
	width: 5%;
    height: 0;
    padding-top: 10%;
    padding-bottom: 20%;
    z-index: 80;
    float: left;
    position: relative;
    bottom: 0%;
    top: -44%;
    left: 38%;
}

#back2:after
{
	content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-175px;   
    border-top: 175px solid transparent;
    border-right: 175px solid red;
    z-index: 80;
    float: left;
}

#back2wrap
{
	position: relative;
	bottom: 0%;
	margin-top: 23%;
	margin-left: 23%;
	right: 0%;
	left: 0%;
	float: left;
}
*/



