#search-sell-btn{
    text-align: center;
    margin-top: 1%;
}

#search-sell-input{
    margin-left: 15% !important;
}

.img-input{
    width: 0.1px;
	height: 0.1px;
    opacity: 0;
    pointer-events: none;
    /* position: absolute; */
}

label {
    position:absolute;
    left:0;
}
/* .img-input + label {
    font-size: 1.25em;
    font-weight: 700;
    color:blue;
} */

/* .inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
} */