h4
{
	text-align: center;
	font-weight: bold;
}

.content
{
	background-size: cover;
	height: 200px;
}

.section
{
	height: 100%;
}


p
{
	text-align: center !important;
		font-family:'Poppins', sans-serif;
		color: white;
		font-size: 18px;
}