h4
{
	text-align: center;
	font-weight: bold;
	font-family: 'Exo', sans-serif;
}

.content
{
	background-size: cover;
	height: 200px;
	margin-bottom: 5%;
}

.section
{
	height: 100%;
}


p
{
		text-align: center !important;
		font-family: 'Exo', sans-serif;
		color: white;
		font-size: 18px;
}