#line {
	width: 55px;
    height: 2px;
    margin: 8px auto 0;
    display: block;
    background-color: grey;
    margin-bottom:5%;
    opacity: 0.5;
}

h3, h2 {

	text-align:center;
	font-family:'Poppins', sans-serif;
	font-weight: bold;
}


#marketbtn{
    display:flex;
    flex:row;
}

#searchInput{
    margin-left:11%;
}