
#iconContainer 
{
    color: #DFB400;
    z-index: 90;
    display: flex;
    justify-content: center;
}

#iconContainer img
{  
      width: 6% !important;
      height: 0.05% !important;
      margin-top: -7.5%;
      z-index: 90;
}


@keyframes jump { 0% { top: 0; } 50% { top: 10px; } 100% { top: 0; } }


#iconContainer 
{ 
  position: relative; 
  margin: 0 auto; 
  text-align: center;
  animation: jump 1.5s infinite;
  img:hover { color: #FFAAAA; }
}



#line {
	width: 55px;
    height: 2px;
    margin: 8px auto 0;
    display: block;
    background-color: grey;
    margin-bottom:5%;
    opacity: 0.5;
}

h3, h2 {

	text-align:center;
	font-weight: bold;
    font-family: 'Exo', sans-serif;
}

#wrapper
{
      margin: 0 auto;
      padding-top: 5%;
      padding-bottom: 8%;
}

.wrapper2
{
      margin: 0 auto;
      padding-top: 10%;
      padding-bottom: 15%;
}


#market-btn{
    display:flex;
    flex:row;
}

#market-head {
    margin-top:9%;
}

#market-line {
    width: 55px;
    height: 2px;
    margin: 8px auto 0;
    display: block;
    background-color: grey;
    margin-bottom:3%;
    opacity: 0.5;
}
#market-line-market {
    width: 55px;
    height: 2px;
    margin: 0px auto 0;
    display: block;
    background-color: grey;
    margin-bottom:5%;
    opacity: 0.5;
}
#market-list {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-top:7%;
    padding-left:15%;
    padding-right:18%;
}
#searchInput{
    margin-left:11%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.searchinput
{
    text-align: center;
}


#user-list {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#bookmark-list {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

svg {
    margin-top: 50px;
}

.loader {
    text-align: center;
}

.widget-svg {
    margin-top: -10px !important;
}

#failmsg {
    text-align: center;
    font-size: 55px;
}