#signIn
{
	position: absolute;
	right: 12%;
	top: 10%;
}

#NavBar
{
	padding: 2%;
	opacity: 0.8;
	padding-left: 11%;
}


.navTab
{
   letter-spacing: 0;
   padding-bottom: 0px;
}	

#logo
{
	width: 125px !important;
	z-index: 100 !important;
	margin-top: 2.7%;
	margin-left: 3.5%;
}



#links
{
	margin-left: 5%;
}

.MuiTab-root
{
	letter-spacing: 0 !important;
	min-width: 100px !important;
}


.PrivateTabIndicator-root-69
{
	height: 1px !important;
	bottom: 1 !important;
}

#navbarSection, #NavBar,#logo
{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 97;
}

button:focus {
     background-color: black; 
}


.Component-root-47
{
	text-transform: uppercase !important;
}

.uk-link, a {
	color: white;
}

.uk-link:hover, a:hover{
	color: white;
	text-decoration: none;
}


