.makeStyles-image-4 {
    height:66% !important;
    width:74% !important;
    margin-left:23% !important;
    margin-top:12% !important;
}

.makeStyles-text-8 {
    color: white !important;
    font-family: 'Saira Stencil One', cursive !important;
}