.makeStyles-image-88 {
    height:300px !important;
    width:661px !important;
    margin-left:23% !important;
    margin-top:12% !important;
}

.makeStyles-text-92 {
    color: white !important;
    font-family: 'Saira Stencil One', cursive !important;
}