
.banner-user-title
{
  font-family: 'Exo', sans-serif !important;
  margin-top: 5%;
}

.banner-user-text
{
  position: absolute !important;
  bottom: 70% !important;
  top: 50% !important;
  left: -25%;
}

.banner-user{
  height: 800px;
  width: 100vw !important;
  max-width: 100% !important;
}
.banner-user-elem{
  text-align: center;
  color: #fff;
  position: relative;
  width: 100vw !important;
  max-width: 100% !important;
}


@media only screen and (max-width: 600px) {
  .banner-user{
  width: 600px;
  height: 300px;
  }

  .banner-user-elem{
  width: 600px;
  height: 300px;

}
}

@media only screen and (min-width: 600px) {

.banner-user{
  min-width: 600px;
  height: 300px;
}
 .banner-user-elem{
  min-width: 600px;
  height: 300px;
}

}

@media only screen and (min-width: 768px) {
.banner-user{
  min-width: 768px;
  height: 350px;
}
 .banner-user-elem{
  min-width: 768px;
  height: 350px;
}
}

@media only screen and (min-width: 992px) {
.banner-user{
  min-width: 992px;
  height: 700px;
}
 .banner-user-elem{
  width: 992px;
  height: 700px;
}
}

@media only screen and (min-width: 1200px) {
 .banner-user{
  min-width: 1200px;
  height: 800px;
}
 .banner-user-elem{
  min-width: 1200px;
  height: 800px;
}
}



.banner-user-elem .banner-user-title{
  font-size: 3vw;
  right: 34.5%;
  top: 25%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.banner-user-elem .banner-user-text{
  right: 26%;
  font-size: 1.5vw;
  top: 55%;
  font-family: 'Open Sans', sans-serif;
}
.banner-anim-elem .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.banner-anim-thumb
{
  width: 10% !important;
  margin-bottom: 2% !important;
}

.banner-anim-arrow
{
  opacity: 0;
}


#iconContainer 
{
    color: #DFB400;
    z-index: 100;
    display: flex;
    justify-content: center;
}

#iconContainer img
{  
      width: 6% !important;
      height: 0.05% !important;
      margin-top: -7.5%;
      z-index: 100;
}


@keyframes jump { 0% { top: 0; } 50% { top: 10px; } 100% { top: 0; } }


#iconContainer 
{ 
  position: relative; 
  margin: 0 auto; 
  text-align: center;
  animation: jump 1.5s infinite;
  img:hover { color: #FFAAAA; }
}



